<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>403</title>
        <meta name="description" content="Bizstrap: Bootstrap Responsive Admin Theme">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="assets/css/bootstrap-responsive.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="assets/css/error.css" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE 7]>
        <link type="text/css" rel="stylesheet" href="assets/css/font-awesome-ie7.min.css"/>
        <![endif]-->
    </head>
    <body>
<div id="load" style="position:fixed; top:0; left:0; right:0; bottom:0; background:#fff; z-index:999999;"><span></span></div>
   <div id="load" style="position:fixed; top:0; left:0; right:0; bottom:0; background:#fff; z-index:999999;"><span></span></div>
        <!-- #main -->
        <div id="main">
            <!-- .container-fluid -->
            <div class="container-fluid">
                <!-- .row-fluid -->
                <div class="row-fluid">
                    <!-- .span12 -->
                    <div class="span12 logo">
                        <h1>403</h1>
                    </div>
                    <!-- /.span12 -->
                </div>
                <!-- /.row-fluid -->
                <!-- .row-fluid -->
                <div class="row-fluid">
                    <!-- .span6 -->
                    <div class="span6 offset3">
                        <p class="lead">Oops, an error has occurred. Forbidden!</p>
                        <form action="index.html" class="relative">
							<div class="input-append">	
								<div class="input-append">	
								<input class="span12" type="text" placeholder="search ...">
								<button class="btn btn-success submitBtn" type="button">
									<i class="icon-search"></i>
								</button>
							</div></div>
                        </form>
                    </div>
                    <!-- /.span6 -->
                </div>
                <!-- /.row-fluid -->
                <div class="row-fluid">
                    <div class="span6 offset3">
                        <div class="row-fluid">
                            <a href="index.html" class="btn btn-info span6">Return Dashboard</a>
                            <a href="index.html" class="btn btn-warning span6">Return Website</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#main -->
		</div>
		</div>
    </body>
</html>