<!DOCTYPE html>
<html>
    <head>
        <!--  SEO STUFF START HERE -->
        <title>bizstrap Premium Corporate HTML Template Home</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="follow, index" />
        <!--  SEO STUFF END -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/style-switcher/style-switcher.js"></script>        <!--  revolution slider plugin : begin -->        
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/rs-responsive.css" media="screen" />
        <!--  revolution slider plugin : end -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <link rel="stylesheet" href="css/styler.css" />
        <link rel="stylesheet" href="css/isotope.css" />
        <link rel="stylesheet" href="css/color_scheme.css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/font-awesome.css" />
        <link rel="stylesheet" href="css/font-awesome-ie7.css" />
        <link rel="stylesheet" href="css/flexslider.css" />
        <link rel="stylesheet" href="css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/jquery.countdown.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />
        <![endif]-->
    </head>
    <body>
   <div id="load" style="position:fixed; top:0; left:0; right:0; bottom:0; background:#fff; z-index:999999;"><span></span></div>
        <div id="over">
            <div id="out_container">
                <!-- THE LINE AT THE VERY TOP OF THE PAGE -->
                <div class="top_cs_line"></div>
                <!-- HEADER AREA -->
                <header>
                    <div class="container">
                        <div class="row">
                            <!-- HEADER LOGO -->
                            <div class="col-md-12 col-sm-12 logo center-logo">
                                <a class="cs-logo" href="index.html"> </a>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- MAIN CONTENT AREA -->
                <div class="main-content">

                    <!-- BEGIN ARTICLE CONTENT AREA -->

                    <div class="coming-soon-content">
                        <div class="coming-soon-topline"></div>
                        <h1>Our website is coming soon...</h1>


                        <div id="countdown"></div>
                        <p id="note"></p>

                        <div class="coming-soon-subscribe">
                            <form class="form-inline">
                                <input type="text" class="input-small" placeholder="">
                                <button type="submit" class="coming-soon-btn">Subscribe</button>
                            </form>
                        </div>

                    </div>

                    <!-- END ARTICLE CONTENT AREA -->

                </div>
                <!-- FOOTER STARTS HERE -->
                <footer id="footer" class="coming-soon-footer">
                    <div class="footer-wrapper footer-cs">
                        <div class="container">
                            <div class="row show-grid">
                                <div class="col-md-12 col-sm-12">
                                    <ul class="footer-socials">
                                        <li><a class="fb" href="#"></a></li>
                                        <li><a class="tw" href="#"></a></li>
                                        <li><a class="in" href="#"></a></li>
                                        <li><a class="wf" href="#"></a></li>
                                        <li><a class="fl" href="#"></a></li>
                                        <li><a class="b" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom footer-bottom-cs">
                        <div class="container">
                            <div class="row show-grid">
                                <div class="col-md-12 col-sm-12">
                                    <p class="bottom-p">© <a href="http://www.themeleaf.com">ThemeLeaf</a> 2013. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- END FOOTER -->
        </div>



        <!-- Placed at the end of the document so the pages load faster -->
       

        
        <script type="text/javascript" src="js/bootstrap.js"></script>
        
        <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="js/jquery.isotope.js"></script>
        <script type="text/javascript" src="js/jquery.fancybox.pack.js?v=2.1.0"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="js/revolution.custom.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <!-- Color Selector: remove this script to disable -->
        <!--<script type="text/javascript" src="js/styleswitch.js" ></script>-->
        <script src="js/jquery.countdown.js"></script>
        <script src="js/countdown_script.js"></script>
    </body>
</html>